.aside .logo a::before{
    border-top:solid #ec1839;
    border-left:solid #ec1839;
}

.aside .logo a::after{
    border-right:solid #ec1839;
    border-bottom:solid #ec1839;
}

.aside .nav li a:hover,
.aside .nav li a.active{   
    color: #ec1839;}

